<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../style/global.css" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title>khersonpizza</title>
</head>
<body class="main_page">
<div class="wrapper">
    <header>
        <div class="info_top">
            <div class="info_cont">
                <span>Замовлення за телефоном:</span>
                <span>067-732-01-16</span>
                <span> Прийом замовлень  11.00-22.30</span>
                <a href="#">Умови доставки та оплати</a>
            </div>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li>
                        <a href="pizza.html">Піца</a>
                    </li>
                    <li>
                        <a href="#">Паста</a>
                    </li>
                    <li>
                        <a href="#">Салати</a>
                    </li>
                    <li>
                        <a href="#">Паніні</a>
                    </li>
                    <li>
                        <a href="#">Десерти</a>
                    </li>
                    <li>
                        <a href="#">Напої</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
        <div class="socials">
            <a href="#" name="facebook">facebook</a>
            <a href="#" name="skype">skype</a>
            <a href="#" name="twitter">twitter</a>
        </div>
        <a href="#" class="button">Замовити</a>
    </div>
        <div class="user">
            <a href="#" class="button login">Залогуватись</a>
            <a href="#" class="button registration">Зареєструватись</a>
        </div>

        <form>
            <span>Підписатися на розсилку новин</span>
            <label></label>
            <input type="email" placeholder="Введіть Ваш e-mail">
            <input type="submit" >
        </form>
</div>
<footer>
    <div class="delivery_info">
        <div class="block">
            <span>Контакти</span>
            <p>
            <br>м. Херсон, вул. Шевченка 22
                <br>www.khersonpizza.com
                <br>Контактний e-mail: khersonpizza@gmail.com
                <br>skype: khersonpizza.com
            </p>
        </div>
        <div class="block">
            <p>
                Телефони для замовлень:
                098-073-66-20
                093-253-35-58
                (передзвонимо)
                Години роботи:
                працюємо кожен день 11.00-23.00
                приймаємо замовлення 11.00-22.30
            </p>
        </div>
        <div class="block">
                <span>Корисні лінки:</span>
                <a href="http://inmoment.com.ua/beauty/health-body/pizza.html">Користь піци</a>
                <a href="#">Користь сиру</a>
                <a href="#">Умови акції</a>
        </div>

    </div>
</footer>
</body>
</html>