<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>khersonpizza</title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="info_top">
            <div class="info_cont">
                <span>Замовлення за телефоном:</span>
                <span>067-732-01-16</span>
                <span> Прийом замовлень  11.00-22.30</span>
                <a href="#">Умови доставки та оплати</a>
            </div>
        </div>
        <div class="menu">
  <a href="#">
      <img class="logo" alt="khersonpizza" src="#">
  </a>
            <nav>
                <ul>
                    <li>
                        <a href="pizza.html">Піца</a>
                    </li>
                    <li>
                        <a href="#">Паста</a>
                    </li>
                    <li>
                        <a href="#">Салати</a>
                    </li>
                    <li>
                        <a href="#">Паніні</a>
                    </li>
                    <li>
                        <a href="#">Десерти</a>
                    </li>
                    <li>
                        <a href="#">Напої</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
        <div class="socials">
            <a href="#" name="facebook"></a>
            <a href="#" name="skype"></a>
            <a href="#" name="twitter"></a>
        </div>
        <a class="button">
            <span>Замовити</span>
        </a>
    </div>
    <footer>
        <div class="">
            <a href="#" class="button login">Залогуватись</a>
            <a href="#" class="button registration">Зареєструватись</a>
        </div>
        <div class="second_slider">
            <div class="banner">
                <div class="prev"></div>
                <div class="next"></div>
            </div>
        </div>
        <div class="delivery_info">
            <div class="del_wrap">
                <div class="block">
                <a href="#">
                <img class="logo" src="#">
                </a>
                <p>
                    <a href="#">Контакти</a>
                    <br>м. Херсон, вул. Шевченка 22
                    <br>www.khersonpizza.com
                    <br>Контактний e-mail: khersonpizza@gmail.com
                    <br>skype: khersonpizza.com
                </p>
                </div>
                <div class="block">
                    <p>
                        <br>Телефони для замовлень:
                        <br>098-073-66-20
                        <br>093-253-35-58
                        <br>(передзвонимо)
                        <br>Години роботи:
                        <br>працюємо кожен день 11.00-23.00
                        <br>приймаємо замовлення 11.00-22.30
                    </p>
                </div>
                <div class="block">
                    <p>
                        <span>Корисні лінки:</span>
                        <a href="#">Користь піци</a>
                        <a href="#">Користь сиру</a>
                        <a href="#">Умови акції</a>
                        <span>Підписатися на розсилку новин:</span>
                        <form>
                    <input type="email" placeholder="Введіть Ваш e-mail">
                    <input type="submit" >
                </form>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>
</body>
</html>