<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../style/global.css" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <title></title>
</head>
<body class="res_pizza">
<div class="wrapper">
    <header>
        <div class="info_top">
            <div class="info_cont">
                <span>Замовлення за телефоном:</span>
                <span>067-732-01-16</span>
                <span> Прийом замовлень  11.00-22.30</span>
                <a href="#">Умови доставки та оплати</a>
            </div>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li>
                        <a href="#">Піца</a>
                    </li>
                    <li>
                        <a href="#">Паста</a>
                    </li>
                    <li>
                        <a href="#">Салати</a>
                    </li>
                    <li>
                        <a href="#">Паніні</a>
                    </li>
                    <li>
                        <a href="#">Десерти</a>
                    </li>
                    <li>
                        <a href="#">Напої</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
        <div class="socials">
            <a href="#" name="facebook"></a>
            <a href="#" name="skype"></a>
            <a href="#" name="twitter"></a>
        </div>
        <div class="type_of_pizza">
            <ul>
                <li>
                    <p>
                    <a href="#">Estato</a>
                    <span>(Літо)</span>
                    </p>
                    <a href="#">
                    <img src="../img/pizza.jpg">
                    </a>
                    <p>

                        Сир моцарела, куряче філе, шпондер, салат Лолла Росса, рукола, пармезан, соус цезар, базилік, оливкова олія
                    </p>
                    <a href="#">Додати до кошика</a>
                </li>
                <li>
                    <p>
                        <a href="#">Estato</a>
                        <span>(Літо)</span>
                    </p>
                    <a href="#">
                        <img src="../img/pizza.jpg">
                    </a>
                    <p>

                        Сир моцарела, куряче філе, шпондер, салат Лолла Росса, рукола, пармезан, соус цезар, базилік, оливкова олія
                    </p>
                    <a href="#">Додати до кошика</a>
                </li>
                <li>
                    <p>
                        <a href="#">Estato</a>
                        <span>(Літо)</span>
                    </p>
                    <a href="#">
                        <img src="../img/pizza.jpg">
                    </a>
                    <p>

                        Сир моцарела, куряче філе, шпондер, салат Лолла Росса, рукола, пармезан, соус цезар, базилік, оливкова олія
                    </p>
                    <a href="#">Додати до кошика</a>
                </li>
                <li>
                    <p>
                        <a href="#">Estato</a>
                        <span>(Літо)</span>
                    </p>
                    <a href="#">
                        <img src="../img/pizza.jpg">
                    </a>
                    <p>

                        Сир моцарела, куряче філе, шпондер, салат Лолла Росса, рукола, пармезан, соус цезар, базилік, оливкова олія
                    </p>
                    <a href="#">Додати до кошика</a>
                </li>
                <li>
                    <p>
                        <a href="#">Estato</a>
                        <span>(Літо)</span>
                    </p>
                    <a href="#">
                        <img src="../img/pizza.jpg">
                    </a>
                    <p>

                        Сир моцарела, куряче філе, шпондер, салат Лолла Росса, рукола, пармезан, соус цезар, базилік, оливкова олія
                    </p>
                    <a href="#">Додати до кошика</a>
                </li>
                <li>
                    <p>
                        <a href="#">Estato</a>
                        <span>(Літо)</span>
                    </p>
                    <a href="#">
                        <img src="../img/pizza.jpg">
                    </a>
                    <p>

                        Сир моцарела, куряче філе, шпондер, салат Лолла Росса, рукола, пармезан, соус цезар, базилік, оливкова олія
                    </p>
                    <a href="#">Додати до кошика</a>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <div class="">
            <a href="#" class="button login">Залогуватись</a>
            <a href="#" class="button registration">Зареєструватись</a>
        </div>
        <div class="second_slider">
            <div class="banner">
                <div class="prev"></div>
                <div class="next"></div>
            </div>
        </div>
</body>
</html>